<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Express Lab 3</title>
</head>
<body>
    <header>
        <h1>Oceans Unit Assignment Tracker 🐠</h1>
    </header>
   
    <main>
        <h2>Assignments</h2>

        <table>
			<thead>
				<tr>
					<th>Assignment</th>
					<th>Score</th>
					<th>Total</th>
					<th>Completed</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{{#each assignments}}
				<tr>
					<td>{{name}}</td>
					<td>{{score}}</td>
					<td>{{totalPossible}}</td>
					<td>{{#if complete}}yes{{else}}no{{/if}}</td>
					<td>
						<a href="/assignments/{{id}}/edit-assignment">Edit</a>
						<a href="/assignments/{{id}}/delete-assignment-confirmation">Delete</a>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
    	<p>Overall Average: {{average}}%</p>
    	<p><a href="/assignments/add-assignment">Add an Assignment</a></p>

    </main>
    
</body>
</html>